div {
  background-color: rgb(78, 141, 134);
  margin: 0%;
  padding: 0%;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(172, 203, 58);
}

h2 {
  text-align: center;
  font-size: 35px;
  color: rgb(172, 203, 58);
}

p {
  font-size: 20px;
}

hr {
  border: solid;
  border-color: rgb(172, 203, 58);
}